setproctitle
fastapi
uvicorn
pydantic
typing
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
numpy==1.21.6
scipy==1.5.2
unidecode
pyopenjtalk==0.1.4
jamo
cn2an
ko_pron
pypinyin
jieba
indic_transliteration==2.3.37
inflect
eng_to_ipa
num_thai==0.0.5
Cython==0.29.21
opencc==1.1.1
gradio